.header {
	margin-top: 10px;
	padding-bottom: 10px;
}

.logo {
	float: left;
	width: 148px;
	height: 25px;
	padding-left: 2px;
	padding-right: 20px;
}

.title {
	font-size: 18px;
	line-height: 26px;
	padding-bottom: 15px;
	margin: 0;
	padding: 0;
	padding-top: 12px;
	color: #200000;
}
